*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(phone) {//width < 768px?
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {//width < 1200px?
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }
}

body {
  box-sizing: border-box;
  font-family: "Cocogoose", "Cocogoose Pro", "COCOGOOSE", "Lato", sans-serif;
}
