//TOP NAVBAR

.top-ul {
  justify-content: flex-end;
  align-items: center;
  background-color: $color-secondary;
}

.top-ul-svg-logo {
  width: 2rem;
  height: 2rem;
  fill: $color-white;
}

.top-ul-li {
  color: $color-white;
  list-style: none;
  font-size: $font-size-small;
}