// HEADER 

.tickets-header {
  font-family: "Lato";
  background-color: $color-primary-ligther;
  text-align: center;
  flex-direction: column;
  align-items: center;

  &-title {
    padding-top: 10rem;
    position: relative;
    margin-bottom: 5rem;
    font-size: 3rem;
    font-weight: 900;

    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 8rem;
      border: 1px solid $color-tertiary;
      width: 15%;
    }
  }

  &-pill {
    justify-content: center;
    border: 1px solid $color-primary;
    width: 40%;
    padding: 1rem;
    border-radius: 2rem;

    &-square {
      width: 2rem;
      height: 2rem;
      background-color: $color-tertiary;
      transform: rotateZ(45deg);
      margin-right: 2rem;
    }

    &-step {
      font-size: $font-size-small;
      text-transform: uppercase;
      color: $color-tertiary;
    }

    &-text {
      align-self: center;
      margin-left: 2rem;
      font-size: 1.3rem;
    }
  }

  &-ticket {
    margin-top: 5rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: [date-start] 1fr [date-end one-day-ticket-start] 1fr [one-day-ticket-end two-day-ticket-start-first] 1fr [two-day-ticket-end-first two-day-ticket-start-second] 1fr [two-day-ticket-end-second affiliate-partner-start] 1fr [affiliate-partner-end];
    position: relative;
    background: linear-gradient(white, white), 
                linear-gradient(60deg, red 0%, red 3.5%, white 3.5%, white 7%, blue 7%, blue 10.5%, red 10.5%, red 14%, white 14%, white 17.5%, blue 17.5%, blue 21%, red 21%, red 25%, white 25%, white 28.5%, blue 28.5%, blue 32%, red 32%, red 35.5%, white 35.5%, white 39%, blue 39%, blue 42.5%, red 42.5%, red 46%, white 46%, white 50%, blue 50%, blue 53.5%, red 53.5%, red 57%, white 57%, white 60.5%, blue 60.5%, blue 64%, red 64%, red 67.5%, white 67.5%, white 71%, blue 71%, blue 75%, red 75%, red 78.5%, white 78.5%, white 82%, red 82%, red 85.5%, blue 85.5%, blue 89%, white 89%, white 92.5%, red 92.5%, red 96%, blue 96%, blue 100%);
    padding: 10px 20px;
    border-radius: 20px;
    background-origin: content-box, padding-box;
    background-clip: content-box, padding-box;
    
  }

  &-column {
    padding: 4rem;
    font-size: $font-size-small;

    &--1 {
      grid-column: date-start / date-end;
      grid-row: 1 / 2;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    &--2 {
      grid-column: one-day-ticket-start / one-day-ticket-end;
      grid-row: 1 / 2;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    &--3 {
      grid-column: two-day-ticket-start-first / two-day-ticket-end-second;
      grid-row: 1 / 2;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    &--4 {
      grid-column: affiliate-partner-start / affiliate-partner-end;
      grid-row: 1 / 2;
      border-bottom: 1px solid black;
    }

    &--5 {
      grid-column: date-start / date-end;
      grid-row: 2 / 3;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    &--6 {
      grid-column: one-day-ticket-start / one-day-ticket-end;
      grid-row: 2 / 3;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    &--7 {
      grid-column: two-day-ticket-start-first / two-day-ticket-end-first;
      grid-row: 2 / 3;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
    }

    &--8 {
      grid-column: two-day-ticket-start-second / two-day-ticket-end-second;
      grid-row: 2 / 3;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    &--9 {
      grid-column: affiliate-partner-start / affiliate-partner-end;
      grid-row: 2 / 3;
      border-bottom: 1px solid black;
    }

    &--10 {
      grid-column: date-start / date-end;
      grid-row: 3 / 4;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    &--11 {
      grid-column: one-day-ticket-start / one-day-ticket-end;
      grid-row: 3 / 4;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    &--12 {
      grid-column: two-day-ticket-start-first / two-day-ticket-end-first;
      grid-row: 3 / 4;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
    }

    &--13 {
      grid-column: two-day-ticket-start-second / two-day-ticket-end-second;
      grid-row: 3 / 4;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    &--14 {
      grid-column: affiliate-partner-start / affiliate-partner-end;
      grid-row: 3 / 4;
      border-bottom: 1px solid black;
    }

    &--15 {
      grid-column: date-start / date-end;
      grid-row: 4 / 4;
      border-right: 1px solid black;
    }

    &--16 {
      grid-column: one-day-ticket-start / one-day-ticket-end;
      grid-row: 4 / 4;
      border-right: 1px solid black;
    }

    &--17 {
      grid-column: two-day-ticket-start-first / two-day-ticket-end-first;
      grid-row: 4 / 4;
      border-right: 1px solid black;
    }

    &--18 {
      grid-column: two-day-ticket-start-second / two-day-ticket-end-second;
      grid-row: 4 / 4;
      border-right: 1px solid black;
    }

    &--19 {
      grid-column: affiliate-partner-start / affiliate-partner-end;
      grid-row: 4 / 4;
    }

    &--input {
      
    }
  }


}