//COLORS

$color-primary: #d3d3d3;
$color-primary-ligther: rgba(211, 211, 211, 0.075);
$color-secondary: #272a31;
$color-secondary-lighter: rgba(39, 42, 49, 0.884);
$color-secondary-more-lighter: rgba(54, 60, 75, 0.699);
$color-tertiary: #ec5242;
$color-tertiary-lighter: rgba(236, 83, 66, 0.733);
$color-tertiary-darker: rgb(197, 69, 55);
$color-white: #fff;

//FONTS

$font-size-small: 1.5rem;

$font-size-medium: 2rem;

$font-size-large: 3rem;